<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.work.employee.mapper.EquipmentReturnMapper">

    <resultMap id="BaseResultMap" type="com.work.employee.model.domain.entity.EquipmentReturn">
            <id property="returnID" column="returnID" jdbcType="BIGINT"/>
            <result property="borrowID" column="borrowID" jdbcType="BIGINT"/>
            <result property="borrowPersonnelNo" column="borrowPersonnelNo" jdbcType="VARCHAR"/>
            <result property="returnDate" column="returnDate" jdbcType="TIMESTAMP"/>
            <result property="returnNum" column="returnNum" jdbcType="INTEGER"/>
            <result property="status" column="status" jdbcType="TINYINT"/>
            <result property="penalty" column="penalty" jdbcType="DOUBLE"/>
            <result property="hasPenalty" column="hasPenalty" jdbcType="TINYINT"/>
            <result property="reason" column="reason" jdbcType="VARCHAR"/>
            <result property="updateTime" column="updateTime" jdbcType="TIMESTAMP"/>
            <result property="isDelete" column="isDelete" jdbcType="TINYINT"/>
            <result property="createTime" column="createTime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        returnID,borrowID,borrowPersonnelNo,
        returnDate,returnNum,status,
        penalty,hasPenalty,reason,
        updateTime,isDelete,createTime
    </sql>
    <select id="equipmentReturnPartList"
            resultType="com.work.employee.model.domain.vo.equipment_return.EquipmentReturnVo">
        SELECT er.*, e.equipmentNo AS equipmentNo, e.equipmentName AS equipmentName
        FROM equipment_return er
                 JOIN equipment_borrow eb ON er.borrowID = eb.borrowID
                 JOIN equipment e ON eb.equipmentNo = e.equipmentNo
        where er.`status` = #{obj.status}
        <if test="obj.equipmentNo != null and obj.equipmentNo !=''">
            and e.equipmentNo = #{obj.equipmentNo}
        </if>
        <if test="obj.borrowPersonnelNo != null and obj.borrowPersonnelNo!=''">
            and er.borrowPersonnelNo = #{obj.borrowPersonnelNo}
        </if>
        <if test="obj.equipmentName != null and obj.equipmentName!=''">
            and e.equipmentName = #{obj.equipmentName}
        </if>
        order by er.createTime
            limit #{start},#{end}
    </select>
    <select id="getPartOrAllList"
            resultType="com.work.employee.model.domain.vo.equipment_return.EquipmentReturnVo">
        SELECT er.*, e.equipmentNo AS equipmentNo, e.equipmentName AS equipmentName
        FROM equipment_return er
        JOIN equipment_borrow eb ON er.borrowID = eb.borrowID
        JOIN equipment e ON eb.equipmentNo = e.equipmentNo
        where er.borrowPersonnelNo = #{obj.borrowPersonnelNo}
        <if test="obj.status != null">
            and er.`status` = #{obj.status}
        </if>
        order by er.createTime desc
        limit #{start},#{end}
    </select>
</mapper>
